###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

*.cs     text   diff=csharp
*.cd     text   merge=binary
*.sln    text   merge=binary
*.slnx   text
*.csproj text   merge=binary
*.md     text   diff=markdown
*.yaml   text
*.yml    text
*.json   text
*.xml    text

# Picture files
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.png    binary
*.bmp    binary
*.tiff   binary
*.svg    text

###############################################################################
# Exclude files from export
###############################################################################
.gitattributes        export-ignore
.gitignore            export-ignore
.gitkeep              export-ignore
*.yaml                export-ignore
/README.md            export-ignore
/LICENSE              export-ignore
/.github              export-ignore